= simple_form_for @map do |f|
  - if @map.errors.any?
    #error_explanation
      %h2= "#{pluralize(@map.errors.count, "error")} prohibited this map from being saved:"
      %ul
        - @map.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-md-6
      = f.input :name, input_html: { class: "string form-control" }
  .row
    .col-md-6
      = f.input :description, input_html: { class: "string form-control" }

  .row
    .col-md-3
      %label Width:
      %input{ name: "width", class: "string form-control" }
    .col-md-3
      %label Height:
      %input{ name: "height", class: "string form-control" }

  %br
  .actions
    = f.submit 'Save', class: "btn btn-primary"
