.map-container{ style: "width: 95%" }
  - map.height.times do |y|
    - map.width.times do |x|
      - space = map.spaces.where(x_cord: x+1, y_cord: y+1).first
      - if not space
        - space = Space.new(x_cord: x+1, y_cord: y+1, terrain: "", victory_points: 0, map: map)
        - temp_space = true
      - w = (100/map.width) * 0.95
      - g = (100/map.width) * 0.05
      %span.space{id: "#{space.x_cord}-#{space.y_cord}", style: "background-color: #{color_of_space(space, current_user)};width: #{w}%; height: #{w}%; position: absolute; bottom: #{(w + g) * (space.y_cord-1)}%; left: #{(w + g) * (space.x_cord-1)}%;"} 
        - had_info = false
        - if space.terrain != ""
          = space.terrain
          - had_info = true
        - if space.victory_points and space.victory_points > 0
          %span.glyphicon.glyphicon-star-empty.pull-right
          %span.pull-right= space.victory_points
          - had_info = true
        - if had_info
          %br
        - if map.game and current_user
          - armies = map.game.armies.where(x_cord: x+1, y_cord: y+1)
          - if map.game.has_battle_at(x+1, y+1) and not map.game.has_unresolved_armies_at(x+1, y+1)
            = link_to "Resolve Battle", game_resolve_battle_path(map.game)
          - armies.each do |army|
            - if army.user == current_user or army.close_to(current_user) or army.allied_to(current_user)
              - if army.user == current_user and army == army.game.current_army and not army.game.needs_resolved
                %span.my-army= army.name
                %span.move Move
              - elsif army.user == current_user and army.needs_resolved
                %span.my-army= army.name
                %span.move.battle-resolve Move
              - elsif army.user == current_user
                %span.my-army= army.name
              - elsif army.allied_to(current_user)
                %span.allied-army= army.name + " (" + army.user.name + ")"
              - else
                %span.enemy-army= army.name + " (" + army.user.name + ")"
        - if is_edit
          - if temp_space
            = form_tag new_space_path, :method => 'get' do
              = hidden_field_tag :x_cord, x+1
              = hidden_field_tag :y_cord, y+1
              = hidden_field_tag :map_id, map.id
              %span= submit_tag "Add", :name => nil, class: "space-edit"
          - else
            = form_tag edit_space_path(space), :method => 'get' do
              = hidden_field_tag :x_cord, x+1
              = hidden_field_tag :y_cord, y+1
              = hidden_field_tag :map_id, map.id
              %span= submit_tag "Edit", :name => nil, class: "space-edit"
