%h1 Listing maps

%table.table.table-hover.table-responsive
  %tr
    %th Name
    %th Width
    %th Height
    %th Creator
    %th
    %th

  - @maps.each do |map|
    - if not map.game
      %tr
        %td= link_to map.name, map
        %td= map.width
        %td= map.height
        %td= map.user ? map.user.name : "Unknown"
        - if map.user == current_user
          %td= link_to 'Edit', edit_map_path(map)
          %td= link_to 'Delete', map, :method => :delete, :data => { :confirm => 'Are you sure?' }
        - else
          %td
          %td

%br

= link_to 'New Map', new_map_path, class: "btn btn-primary"
