.text-center
  %h2= @map.name
  %p
    = @map.description
    %br
    - if @map.game
      The game that this map is apart of is
      = link_to @map.game.name, @map.game

= map @map

= link_to 'Back', maps_path, class: "btn btn-link"
