.text-center
  %h2= @map.name
  %p
    = @map.description
    %br
    - if @map.game
      The game that this map is apart of is
      = link_to @map.game.name, @map.game

= render "map", map: @map
   
.btn-group
  = link_to 'Back', maps_path, class: "btn btn-link", class: "btn btn-default"
%br
%br
