.container
  .row
    .col-md-2
      .row
        %h2= @map.name
      .row
        %p
          = @map.description
          %br
          - if @map.game
            The game that this map is apart of is
            = link_to @map.game.name, @map.game
      .row
        .btn-group
          = link_to 'Back', maps_path, class: "btn btn-default"
          = link_to 'Edit', edit_map_path(@map), class: "btn btn-default"
    .col-md-8
      = render partial: "map", locals: { map: @map, is_edit: @is_edit }
%br
%br
