= simple_form_for @game do |f|
  - if @game.errors.any?
    #error_explanation
      %h2= "#{pluralize(@game.errors.count, "error")} prohibited this game from being saved:"
      %ul
        - @game.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-3
      = f.input :name, input_html: { class: "string form-control" }
    .col-md-3
      = f.input :rule_set, input_html: { class: "string form-control" }
    .col-md-3
      = f.association :map, input_html: { class: "dropdown form-control" }
  .row
    .col-md-9
      = f.input :description, input_html: { class: "string form-control" }
  .row
    .col-md-9
      = f.input :objective, input_html: { class: "string form-control" }
  .row
    .col-md-9
      = f.input :details, input_html: { class: "string form-control" }

  = f.hidden_field :game_master_id, value: current_user.id

  %br
  .actions
    = f.submit 'Save', class: "btn btn-primary"
