%h1 Listing games

%table.table.table-hover.table-responsive
  %tr
    %th Name
    %th Rule Set
    %th Map Name
    %td
    %td

  - @games.each do |game|
    %tr
      %td= link_to game.name, game
      %td= game.rule_set
      %td= game.map.name
      - if game.game_master == current_user
        %td= link_to 'Edit', edit_game_path(game)
        %td= link_to 'Delete', game, :method => :delete, :data => { :confirm => 'Are you sure?' }
      - else
        %td
        %td

%br

= link_to 'New Game', new_game_path, class: "btn btn-primary"
