
.text-center
  %h2= @game.name
  %p=  @game.description
  %p=  @game.objective
  %p=  @game.details
  %p
    The map used for this game is
    = link_to @game.map.name, @game.map

  = map @game.map

= link_to 'Edit', edit_game_path(@game)
\|
= link_to 'Back', games_path
