.row

  .col-md-6
    %h2= @game.name
    %p
      %b Description:
      %br
      =  @game.description
      %br
      %br
    %p
      %b Objective:
      %br
      =  @game.objective
      %br
      %br
    %p
      %b Other Details:
      %br
      =  @game.details

    %hr
    %table.table.table-hover.table-responsive
      %tr
        %th Name
        %th
        %th Player
        %th Army Type
        %th Point Cost
        %th Turn Count
        %th Alliance
      - @game.armies.order('turn_count DESC').each do |army|
        %tr
          - if army.user == current_user
            %td= link_to army.name, army
            - if army == @game.current_army and army.turn_count != 0 and (army.x_cord and army.y_cord)
              %td= link_to "Move", edit_army_path(army)
            - elsif not (army.x_cord and army.y_cord)
              %td= link_to "Place Army", edit_army_path(army)
            - else
              %td
            %td  You
            %td= army.army_type
            %td= army.point_cost
            - if army == @game.current_army and not army.turn_count == 0
              %td.my-next-turn 
                = army.turn_count
                &nbsp;(Next Move)
            - elsif army.turn_count == 0
              %td= link_to "Needs Placed", edit_army_path(army)
            - else
              %td= army.turn_count
            - if army.alliance
              %td= army.alliance.name
            - else
              %td
                Not Allied -
                = link_to "Ally", army_form_alliance_path(army)
          - else
            %td= army.name
            %td
            %td= army.user.name
            %td= army.army_type
            %td= army.point_cost
            - if army == @game.current_army
              %td.enemy-next-turn 
                = army.turn_count
                &nbsp;(Next Move)
            - elsif army.turn_count == 0
              %td Not Placed
            - else
              %td= army.turn_count
            - if army.alliance
              %td= army.allliance.name
            - else
              %td No Alliance
    %p.left-margin * Remember that you might not be close enough to see some enemy armies!
  .col-md-6
    = render "maps/map", map: @game.map

.btn-group
  = link_to 'Edit', edit_game_path(@game), class: "btn btn-default"
  = link_to 'Back', games_path, class: "btn btn-default"
  = link_to 'Reset Turn Count', game_set_turns_path(@game), class: "btn btn-default"
%br
%br
