%h1 Editing army
= simple_form_for @army do |f|
  - if @army.errors.any?
    #error_explanation
      %h2= "#{pluralize(@army.errors.count, "error")} prohibited this army from being saved:"
      %ul
        - @army.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-2
      = f.input :x_cord, input_html: { class: "string form-control" }
    .col-md-2
      = f.input :y_cord, input_html: { class: "string form-control" }
    .col-md-2
      = f.association :alliance, collection: @army.game.alliances, input_html: { class: "dropdown form-control" }
  %br
  .actions
    = f.submit 'Save', class: "btn btn-primary"
%br
.btn-group
  = link_to 'Show', @army, class: "btn btn-default"
  = link_to 'Back', game_path(@army.game), class: "btn btn-default"
