%h1 Listing armies

%table.table.table-hover.table-responsive
  %tr
    %th Name
    %th Army Type
    %th Point Cost
    %th Game
    %th Delete

  - @armies.each do |army|
    %tr
      %td= link_to army.name, army
      %td= army.army_type
      %td= army.point_cost
      %td= link_to army.game.name, army.game
      %td= link_to "Delete", army, method: :delete

%br

= link_to 'New Army', new_army_path, class: "btn btn-default"
