= form_for @alliance do |f|
  - if @alliance.errors.any?
    #error_explanation
      %h2= "#{pluralize(@alliance.errors.count, "error")} prohibited this alliance from being saved:"
      %ul
        - @alliance.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
