= simple_form_for @alliance do |f|
  - if @alliance.errors.any?
    #error_explanation
      %h2= "#{pluralize(@alliance.errors.count, "error")} prohibited this alliance from being saved:"
      %ul
        - @alliance.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-md-3
      = f.input :name, input_html: { class: "string form-control" }
    .col-md-3
      - if params[:game_id]
        = f.input :game, input_html: { readonly: true, value: Game.find(params[:game_id]).name, class: "dropdown form-control" }
        = f.hidden_field :game_id, value: params[:game_id]
      - else
        = f.association :game, input_html: { class: "dropdown form-control" }

  %br
  .actions
    = f.submit 'Save', class: "btn btn-primary"
